<nav class="navbar navbar-expand-lg navbar-primary bg-dark ">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item active">
          <a class="nav-link text-white" href="{%url 'home' %}">Home</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'add' %}">Add Recipe</a>
          </li>
          
           {% if not request.user.is_staff %}
          
          <li class ='nav-item'>
            <a class='nav-link text-white' href= "{% url 'contact' %}">Contact Us</a>
            </li>
          {% endif %}
      </ul>
      &nbsp;
      <form method = "get" action="/search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter" name = "query" id = "query">
        <button class="btn btn-outline-info my-2 my-sm-0"  type="submit">Search</button>
      </form>
    </div>
    {% if request.user.is_authenticated %}
    {% if not request.user.is_staff %}
    <span><a class='nav-link text-white' href= "{% url 'account' %}">Setting <i class="fas fa-cog"></i></a></span>
    {% endif %}  
    <span><a class='nav-link text-white' href = "{% url 'logout' %}">Logout</a></span>
    {% endif %}
  </nav>

  